 {% extends "base.html" %}


 {% block content %}
    <div class="app">
       <div class="container">
         <div class="row">
         <div class="col-md-8 mx-auto">
          <div class="card">
            <div class="card-body">
              <h5><p>Predict a car's CO2 emissions based on weight and volume</p></h5>
             <form  method="POST" action="/predictions">
              <label>Add car weight in kg</label>
              <input class="form-control" name="car_weight">
              <label>Add car volume in cm3</label>
              <input class="form-control" name="car_volume">
              <button type="submit" class="btn btn-primary mt-2">Make predictions</button>
             </form>
            </div>
          </div>
         </div>
         </div>
        
       </div>

    </div>

 
{% endblock %}